{% extends "main.html" %}

{% block tabs %}
{{ super() }}
<section class="hero-container">
    <div class="md-grid">
        <div class="hero">
            <h1>PhoneImpact</h1>
            <p>Dans la ville de Techcity, vous incarnez une fabricante ou un fabricant de smartphones. Alors que la compétition fait rage pour produire les téléphones portables les plus innovants, une question cruciale émerge : l'impact environnemental de ces appareils.</p>

            <p>Au fil des tours de jeu et des événements, vous découvrirez les réalités méconnues de l'industrie des smartphones, la diversité des métaux utilisés pour les fabriquer et les pollutions causées par leur extraction.</p>

            <p>Vous devrez faire des choix stratégiques en tenant compte des contraintes économiques et écologiques ! Attention, chaque choix aura des conséquences...</p>

            <p>Le temps est venu de construire un avenir plus durable. Êtes-vous prêt à relever ce défi de taille ? Le destin de Techcity est entre vos mains.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<img src="img/Boite.png" alt="Illustration">
<link rel="stylesheet" href="assets/home.css">
<section>
    <h2 class="cards-title">Le jeu</h2>
    <div class="cards">
        <div class="card">
            <h3>Découvrez Phone Impact</h3>
            <p>Explorez l'univers de Phone Impact à travers son histoire, une galerie de visuels, et une présentation claire des buts et objectifs du jeu.</p>
            <img src="img/Boite.png" width="200px"/>
            <a href="Jeu/Presentation.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Éléments de jeu</h3>
            <p>Retrouvez ici une présentation détaillée des éléments du jeu, incluant un inventaire complet du matériel nécessaire ainsi qu'une description précise de chaque composant.</p>
            <a href="Jeu/Materiel.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Mise en place</h3>
            <p>Cette partie détaille les instructions à suivre pour mettre en place le jeu, avec un schéma de disposition des éléments et les étapes à suivre pour assurer une installation correcte avant de démarrer une partie.</p>
            <a href="Jeu/PreparationJeu.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Déroulement du jeu</h3>
            <p>Comment jouer ? Cette section explique les règles principales, en commençant par la détermination du premier joueur, les trois actions de chaque tour, et comment se termine un tour.</p>
            <a href="Jeu/ReglesDuJeu.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Fin de partie</h3>
            <p>Présentation des conditions de fin de partie et la méthode de décompte des points à suivre pour déterminer le gagnant </p>
            <a href="Jeu/FinDePartie.html" class="card-button">Learn More</a>
        </div>    </div>
    <h2 class="cards-title">Formez-vous pour utiliser le jeu</h2>
    <div class="cards">
        <div class="card">
            <h3>Brief</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 3</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 4</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="Presentation.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 5</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
    </div>
</section>
{% endblock %}