{% extends "main.html" %}

{% block content %}
<center>
    <img src="img/Logo2.png" width="450px" alt="Illustration" align="center"/>
</center>
<center>
    <h3><em><strong>Découvre la diversité des métaux utilisés pour fabriquer ton smartphone et les impacts environnementaux liés à leur extraction.</strong></em></h3>
</center>
<img src="img/VueBoite.png" width="450px" alt="Illustration" align="left"/>
<p></p>
<p><em><strong>PhoneImpact</strong> est un <strong>jeu sérieux</strong>, co-créé avec des experts scientifiques, où vous apprendrez en jouant. En intégrant des informations sur les <strong>impacts environnementaux</strong> et <strong>sociaux</strong> liés à l’<strong>extraction des métaux</strong>, le jeu vous sensibilisera aux conséquences de vos décisions.</em></p>
<p><em>Le temps est venu de construire un avenir plus durable. Êtes-vous prêt·e à relever ce défi de taille ? Le destin de TechCity est entre vos mains.</em></p><br>
<p></p>
<p><strong>Détails du jeu :</strong></p>
<ul>
    <li>Nombre de joueurs : 3 à 5</li>
    <li>Âge : Dès 14 ans</li>
    <li>Durée : 40 minutes</li>
</ul>
<br clear="left"/>
<link rel="stylesheet" href="assets/home.css">
<section>
    <h2 class="cards-title">Découvrez les règles jeu</h2>
    <div class="cards">
        <div class="card">
            <h3>Présentation de Phone Impact</h3>
            <p>Explorez l'univers de Phone Impact à travers son histoire, une présentation claire des buts et objectifs du jeu.</p>
            <a href="Jeu/Presentation.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Éléments de jeu</h3>
            <p>Retrouvez ici une présentation détaillée des éléments du jeu, incluant un inventaire complet du matériel nécessaire ainsi qu'une description précise de chaque composant.</p>
            <a href="Jeu/Materiel.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Mise en place</h3>
            <p>Cette partie détaille les instructions à suivre pour mettre en place le jeu, avec un schéma de disposition des éléments et les étapes à suivre pour assurer une installation correcte avant de démarrer une partie.</p>
            <a href="Jeu/PreparationJeu.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Déroulement du jeu</h3>
            <p>Comment jouer ? Cette section explique les règles principales, en commençant par la détermination du premier joueur, les trois actions de chaque tour, et comment se termine un tour de jeu.</p>
            <a href="Jeu/ReglesDuJeu.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Fin de partie</h3>
            <p>Présentation des conditions de fin de partie et la méthode de décompte des points à suivre pour déterminer le gagnant </p>
            <a href="Jeu/FinDePartie.html" class="card-button">En savoir plus</a>
        </div>
    </div>
    <br>
    <h2 class="cards-title">Vous souhaitez animer le jeu ?</h2>
    <div class="cards">
        <div class="card">
            <h3>Qui peut animer ?</h3>
            <p>Pour animer il est nécessaire de se familiariser avec les impacts environnementaux du smartphone, comprendre les règles du jeu, préparer le matériel, et organiser une séquence en trois phases (brief, phase de jeu, débriefing).</p>
            <a href="Animation/InstructionsAnimateur.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Brief</h3>
            <p>Comment introduire l'activité ? Cette partie propose un déroulé type avec les différentes étapes à suivre pour présenter les aspects théoriques du jeu.</p>
            <a href="Animation/Briefing.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Pitch des règles du jeu</h3>
            <p>Dans cette partie, nous vous proposons un texte pour pitcher et expliquer simplement les règles du jeu aux joueurs.</p>
            <a href="Animation/PitchReglesDuJeu.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Phase de jeu</h3>
            <p>En tant qu'animateur, nous vous donnons quelques conseils pour faciliter le déroulement de la partie.</p>
            <a href="Animation/AnimationDeLaPartie.html" class="card-button">En savoir plus</a>
        </div>
        <div class="card">
            <h3>Debrief</h3>
            <p>Après la phase de jeu, il est essentiel de débriefer les ressentis, les enseignements, et de faire le bilan pour mettre en perspective ce que les joueurs ont appris.</p>
            <a href="Animation/Debriefing.html" class="card-button">En savoir plus</a>
        </div>
    </div> <br>
    <p></p>
    <center>
        <a href="https://learninglab.inria.fr"><img src="img/LogoILL.png" width=150px style="margin-right: 40px;"/></a>
        <a href="https://www.inria.fr"> <img src="img/LogoInria.png" width=150px style="margin-left: 40px;"/></a>
    </center>
</section>
{% endblock %}