{% extends "main.html" %}

{% block tabs %}
{{ super() }}
<section class="hero-container">
    <div class="md-grid">
        <div class="hero">
            <h1>PhoneImpact</h1>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<img class="home-img" src="https://fakeimg.pl/1200x600/CCCCCC,255/939393,255?text=Illustration" alt="Illustration">
<link rel="stylesheet" href="assets/home.css">
<section>
    <h2 class="cards-title">Titre section</h2>
    <div class="cards">
        <div class="card">
            <h3>Card 1</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="Presentation.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 2</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="Briefing.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 3</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 3</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 4</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="Presentation.html" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3>Card 5</h3>
            <p>Lorem ipsum dolor sit amet. Aut fuga itaque in illo sint At quam minima nam doloribus voluptatibus vel pariatur nemo in mollitia fuga sed repellat quod. Ex reprehenderit vitae id quae rerum qui ipsa earum.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
    </div>
</section>
{% endblock %}