{% extends "base.html" %}

{% block footer %}
    <div class="md-typeset footer">
        <h3>Vous pouvez contacter notre équipe à l'adresse : <a href="mailto:phoneimpact@inria.fr">phoneimpact@inria.fr</a></h3>
        <div class="social-links">
            <a href="https://x.com/InriaLearnLab" target="_blank" aria-label="X">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/inrialearninglab/" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.youtube.com/@inrialearninglab" target="_blank" aria-label="Youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://learninglab.inria.fr" target="_blank" aria-label="Website">
                <i class="fa-solid fa-globe"></i>
            </a>
        </div>
    </div>
    {{ super() }}
{% endblock %}
