{% extends "base.html" %}

{% block footer %}
    <div class="md-typeset footer">
        <h4>Vous pouvez contacter notre équipe à l'adresse : <a href="mailto:phoneimpact@inria.fr">phoneimpact@inria.fr</a></h4>
        <div class="social-links">
            <a href="https://x.com/InriaLearnLab" target="_blank" aria-label="X">
                :simple-x:
            </a>
            <a href="https://www.linkedin.com/in/inrialearninglab/" target="_blank" aria-label="LinkedIn">
                :simple-linkedin:
            </a>
            <a href="https://www.youtube.com/@inrialearninglab" target="_blank" aria-label="Youtube">
                :simple-youtube:
            </a>
            <a href="https://learninglab.inria.fr" target="_blank" aria-label="Website">
                :material-web:
            </a>
        </div>
    </div>
    {{ super() }}
{% endblock %}
